.befor_course{

    display: flex;
    align-items: center;
}

.befor_course .img_after_nav{
    

    display: flex;
    width: 100%;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

._info{

    background-color: white;
    position:absolute;
    width: 400px;
    height: 200px;
    margin-left: 50px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    
}

.justHeader{

    font-size: 1.5rem;
    text-align: center;
    padding-top: 41px;
    padding-bottom: 17px;
}

._quote{

    font-size: 1.6rem;
    text-align: center;

}

@media (min-width: 0px) and (max-width: 428px) {

    ._info{
    
        display: flex;
        box-shadow: none;
        flex-direction: column;
        top:300px;
    }
.befor_course{

    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 216px;
    

}

.justHeader , ._quote{

    margin-top: -10%;
    margin-right:57px;
}
._quote{
    font-size: 1.2rem;
    margin-top: -3px;
    
}
.justHeader{
    
    font-size: 1.7rem;
    

}

.befor_course .img_after-nav{
    width: 136%;
}

}

@media (min-width: 429px) and (max-width: 815px) {

    ._info{
    
        display: flex;
        box-shadow: none;
        flex-direction: column;
        top:343px;
    }
    .befor_course{

    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 216px;
    margin-top: 14px;

}

.justHeader , ._quote{

    margin-top: -10%;
    margin-right:57px;
}
._quote{
    font-size: 1.4rem;
    margin-top: -3px;
    
}
.justHeader{
    
    font-size: 2rem;
    

}

.befor_course .img_after-nav{
    width: 136%;
}

}
